body {
    background-color:#c3c1c1;
}

h1 {
  color: #d00101;
border: dashed #f4d34a;
display: block;
    padding-left: 300px;
    font-size: 40px;
    font-family: monospace ;

}
h2 {
    font-size: 35px;
        font-family: monospace ;
    float:left;
    padding-left: 50px;
        padding-right: 50px;
    color:#d00101;
}

img {
    border: solid #f4d34a;
}

h3{
    font-size: 20px;
   font-family: monospace;
     color:#d00101;
         border: dashed #f4d34a ;
    display:block;
    
}